body {
    background: #495057;
}

.padding1 {
    padding: 0.5em;
}

.margin1 {
    margin-top: 1em;
    margin-bottom: 2em;
}

.margin2 {
    padding-inline: 0.5em;
}

.font1 {
    font-family: 'Staatliches', cursive;
}

.link1 {
    color: rgb(92, 40, 141);
}

.font-size1 {
    font-size: 4em;
}

.font-size2 {
    font-size: 2.3em;
}

.font-size3 {
    font-size: 3.5em;
}

.font-size4 {
    font-size: 2em;
}

.font-size5 {
    font-size: 1.3em;
}

.hr1 {
    background-color: #2b2e31;
     border: none;
      height: 0.3em;
}

@media (min-width: 500px) {
    .project1 {
        display: inline-flex;
    }

    .project2 {
        padding-inline: 1em;
    }

    .margin1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .margin3 {
        margin-bottom: 2em;
    }

    .margin4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .hover1 {
        transition: all 200ms;
    }

    .hover1:hover {
        font-size: 1.1em;
    }
}