.font1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.box-design1 {
    border-color: #495057;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    background-color: #6C757D;
    margin-bottom: 5px;
    min-height: 2em;
}

.center_font {
    text-align: center;
}

.link1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:rgb(71, 56, 56);
    transition: all 200ms;
}

.ul1 {
    list-style-type: "-   ";
    font-family: Arial, Helvetica, sans-serif;
}

.footer_div2 {
    position: absolute; 
    left: 50%;
    top: 50%; 
    transform: 
    translate(-50%, -50%);
}

.hover1:hover {
    font-size: 1.2em;
}
