body {
    background: #ffe52c;
    margin: 0;
    padding: 0.5em;
}

.padding1 {
    padding: 0.5em;
}

.margin1 {
    margin-top: 1em;
    margin-bottom: 2em;
}

.margin2 {
    padding-inline: 0.5em;
}

.font1 {
    font-family: 'Staatliches', cursive;
}

.link1 {
    color: #28888d;
}

.font-size1 {
    font-size: 4em;
}

.font-size2 {
    font-size: 2.3em;
}

.font-size3 {
    font-size: 3.5em;
}

.font-size4 {
    font-size: 2em;
}

.font-size5 {
    font-size: 1.3em;
}

.hr1 {
    background-color: #2b2e31;
     border: none;
      height: 0.3em;
}

@media (min-width: 500px) {
    .project1 {
        display: inline-flex;
    }

    .project2 {
        padding-inline: 1em;
    }

    .margin1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .margin3 {
        margin-bottom: 2em;
    }

    .margin4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .padding2 {
        padding-inline: 5%;
    }

    .hover1 {
        transition: all 200ms;
    }

    .hover1:hover {
        font-size: 1.1em;
    }


    /* hover for Projects */
    .hover2 {
        transition: all 600ms;
    }

    .hover2:hover {
        font-size: 2.2em;
    }

    .margin1:hover {
        margin-top: 0.5em;
        margin-bottom: 0.em;
    }

    .margin4:hover {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    /* --------------- */

    .titel1 {
        display: inline-flex;
        width: 100%;
        align-items: baseline;
    }


}