body {
    margin: 0;
    background-color: #4d4d4d;
    width: 100%;
}

.font1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 182, 182);
}

.fontcolor1 {
    color: rgb(201, 201, 201);
}

.fontcolor2 {
    color: rgb(175, 175, 175);
}

.code1 {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #6d6d6d;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.code2 {
    padding: 0.1em;
    border-radius: 0.2em;
    background-color: #6d6d6d;
    margin: 0, 1em, 0, 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin1 {
    margin: 0.5em;
}

/*UpScrollButton*/

#upScrollButton {
    position: fixed;
    width: 2em;
    height: 2em;
    right: 1em;
    bottom: 1em;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background: #3a3939;
    color: #ffffff;
    font-size: 1.5em;
}
/*Titlebar*/

.titlebar {
    background-color: rgb(126, 126, 126);
    margin: 0.5em;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 0.8em;
    color: rgb(255, 255, 255);
}

#flexcontainer1 {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

/* navigation list */

.divstyle1 {
    background-color: #6e6e6e;
    border-radius: 0.5em;
}

.liststyle1 {
    list-style-type: none;
    padding: 0;
    margin: 1em;
    line-height: 1.8em;
}

.liststyle2 {
    list-style-type: none;
    padding: 0 0 0 1em;
    margin: 0;
    line-height: 1.8em;
}

/* Content div*/
.content1 {
    background-color: #5f5f5f;
    border-radius: 0.5em;
    padding: 1em;
}

/* footer */

.footer {
    background-color: #5f5f5f;
    padding: 2em 0.5em 2em 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}